.Shelves__header {
    width: 100%;
    height: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.dark-red-bgc {
    background-color: #ab2a19;
}

.Shelves__header_content {
    width: auto;
    height: auto;
    position: relative;
    left: -165px;
}

.logo {
    width: 50px;
}

.Shelves__header_logo {
    position: relative;
    top: 13px;
    margin-right: 10px;
}
.Shelves__header_span {
    font-size: 30px;
}
.white-tc {
    color: #fff;
}
